# ALFREDO Bot
TELEGRAM_BOT_TOKEN=seu_token_do_botfather_aqui
GROQ_API_KEY=sua_chave_groq_aqui
GROQ_MODEL=llama3-70b-8192
BOT_NAME=ALFREDO
TAVILY_API_KEY=sua_chave_tavily_aqui
FINEXLY_API_KEY=sua_chave_finexly_aqui
