# Ambiente
.env
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Banco de dados
*.db
*.db-journal
*.db-wal
*.db-shm

# IDE
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
